.page-header {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 2.5rem;
}

.page-header h1 {
  font-size: 1.875rem; /* 30px */
  font-weight: 700;
  text-transform: uppercase;
}

.edit-prescription-content-container {
  width: 50%;
  margin: 0 auto;
}

/* Back button container */
.back-button-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

/* Back button styling */
.back-button {
  display: flex;
  align-items: center;
  padding: 8px 15px;
  background-color: #f3f4f6;
  color: #4b5563;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.back-button:hover {
  background-color: #e5e7eb;
}

/* Container adjustments */
.edit-prescription-form-container {
  position: relative;

  background: white;
  border-radius: 10px;
  padding: 25px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
}
.edit-prescription-form-container {
  background-color: #fff;
  padding: 2rem;
  border-radius: 0.5rem;
  margin-bottom: 2rem;
}

.edit-prescription-form-container form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.edit-prescription-content-container .input-group {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.edit-prescription-content-container .input-group.two-column {
  grid-template-columns: repeat(2, 1fr);
}

.edit-prescription-content-container .input-box {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.edit-prescription-content-container label {
  font-weight: 600;
  color: #4b5563;
  font-size: 0.875rem;
  text-transform: uppercase;
}

.edit-prescription-content-container input,
.edit-prescription-content-container .relative-input,
.edit-prescription-content-container textarea {
  padding: 0.5rem;
  border-radius: 0.5rem;
  /* border: 1px solid #ccc; */
  background-color: #f9fafb;
  font-size: 0.875rem;
  font-size: 1rem;
  outline: none;
  text-transform: uppercase;
  font-weight: 600;
}

.edit-prescription-content-container input.time-input {
  padding: 0.5rem;
  border: 1px solid #ccc;
  background-color: transparent;
}

.edit-prescription-content-container input.side-effects-input::placeholder {
  color: black;
}

/* For Chrome, Safari, Edge, Opera */
.edit-prescription-content-container
  input[type="number"]::-webkit-outer-spin-button,
.edit-prescription-content-container
  input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* For Firefox */
.edit-prescription-content-container input[type="number"] {
  -moz-appearance: textfield;
}

.edit-prescription-content-container .reminders-button {
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-size: 0.875rem;
  text-transform: uppercase;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  cursor: pointer;
  background-color: #f9fafb;
  /* border: 1px solid #ccc; */
  transition: all 0.2s ease-in-out;
}

.edit-prescription-content-container .reminders-button.active {
  background-color: #daf9e5;
  color: #1dc55a;
}

.edit-prescription-content-container .reminders-button.paused {
  background-color: #fdfbd6;
  color: #ceb02c;
}

.edit-prescription-content-container .time-input-container {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.edit-prescription-content-container .time-input-container input {
  width: 100%;
}

.edit-prescription-content-container .time-input-container button {
  padding: 0.5rem 0.8rem;
  height: 100%;
  border-radius: 0.5rem;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  cursor: pointer;
  background-color: #5271ff;
  color: #fff;
  transition: all 0.2s ease-in-out;
  border: 0;
}

.edit-prescription-content-container .time-list-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.edit-prescription-content-container .time-list-container .time-lists {
  /* width: 100%;
  height: 42px;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  padding: 0.5rem; */

  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.edit-prescription-content-container .time-list-container .time-list {
  width: fit-content;
  height: 42px;
  border-radius: 999px;
  background: rgba(82, 113, 255, 0.2);
  font-size: 0.8rem;
  font-weight: 600;
  padding: 0 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.edit-prescription-content-container .stats {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0.5rem;
  padding: 0.5rem;
  text-align: center;
  font-weight: 600;
  color: #4b5563;
  font-size: 0.875rem;
  text-transform: uppercase;
  margin-top: 1rem;
}

.edit-prescription-content-container .stats .value {
  font-size: 1.5rem;
  font-weight: 600;
}

.edit-prescription-content-container .stats.taken {
  background-color: #daf9e5;
}

.edit-prescription-content-container .stats.taken .value {
  color: #1dc55a;
}

.edit-prescription-content-container .stats.total {
  background-color: rgba(82, 113, 255, 0.2);
}

.edit-prescription-content-container .stats.total .value {
  color: #5271ff;
}

.edit-prescription-content-container .stats.skipped {
  background-color: #fee5e5;
}

.edit-prescription-content-container .stats.skipped .value {
  color: #f43f5e;
}

.edit-prescription-content-container .input-group.btns button {
  width: 100%;
  font-size: 0.875rem;
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin-top: 1rem;
  background-color: transparent;
  border: 1px solid #ccc;
  text-align: center;
  cursor: pointer;
  font-weight: 600;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.edit-prescription-content-container .input-group.btns button.save-btn {
  border-color: rgba(82, 113, 255, 0.2);
  color: #5271ff;
}

.edit-prescription-content-container .input-group.btns button.reminder-btn {
  border-color: #daf9e5;
  color: #1dc55a;
}

.edit-prescription-content-container .input-group.btns button.delete-btn {
  border-color: #fee5e5;
  color: #f43f5e;
}

/* MEDIA QUERIES FOR RESPONSIVENESS */
@media screen and (max-width: 768px) {
  .page-header h1 {
    font-size: 1.6rem;
  }

  .edit-prescription-content-container {
    width: 100%;
  }

  .edit-prescription-form-container {
    background-color: #fff;
    padding: 1.5rem;
    border-radius: 0.5rem;
    margin-bottom: 2rem;
  }

  .edit-prescription-content-container .input-group {
    grid-template-columns: repeat(1, 1fr);
  }

  .edit-prescription-content-container .input-group.two-column {
    grid-template-columns: repeat(1, 1fr);
  }
  .edit-prescription-content-container .input-group.stats-group {
    grid-template-columns: repeat(2, 1fr);
  }

  .edit-prescription-content-container .stats {
    margin-top: 0rem;
  }

  .edit-prescription-content-container .input-group.btns button {
    margin-top: 0rem;
  }

  .edit-prescription-content-container .input-group.btns button.save-btn {
    margin-top: 1rem;
  }
}
